.card {
  background: linear-gradient(to bottom, rgba(251, 255, 1, 0.9), rgba(255, 0, 0, 0.8));
  max-width: 200px;
  max-height: 500px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: sans-serif;
  padding: 2em;
  margin: 50px;
  text-align: center;
  display: inline-block;
}


.car{

  max-width: 200px;
  max-height: 125px;

}